<?xml version="1.0"?>
<!--
  UpStream Pay

  Copyright (c) 2023 UpStream Pay.
  This file is open source and available under the BSD 3 license.
  See the LICENSE file for more info.

  Author: Claranet France <info@fr.clara.net>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="UpStreamPay_Client" />
</config>
