<?xml version="1.0"?>
<!--
  UpStream Pay

  Copyright (c) 2023 UpStream Pay.
  This file is open source and available under the BSD 3 license.
  See the LICENSE file for more info.

  Author: Claranet France <info@fr.clara.net>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <upstream_pay>
                <active>0</active>
                <debug>0</debug>
                <model>UpStreamPay\Core\Model\UpStreamPay</model>
                <order_status>pending</order_status>
                <title>UpStream Pay</title>
                <allowspecific>0</allowspecific>
                <group>upstream_pay</group>
                <mode>sandbox</mode>
                <error_message>An error occured, please try again.</error_message>
                <api_config>
                    <production_url>https://api.upstreampay.com</production_url>
                    <sandbox_url>https://api.preprod.upstreampay.com</sandbox_url>
                    <widget_url>https://widget.upstreampay.com/v3-current/UpStreamPay.js</widget_url>
                    <rsa_sandbox_key>-----BEGIN PUBLIC KEY-----
                        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArjjcczhTDCei8Sk2W4mL
                        OjbHjpw18jeVA4LAVKayVMVURzyB30v9DEBlGw5T+A3+IAXLfEF79wQ2UM4OQFoh
                        sCmZGDlcTJAVQEtB6vrqkNq1lBL7ugIkp0sMO9tG5/PvCX/hrJuz+Kw8d2LaBvzc
                        TEpochiZX4EIgyCq9luSF64kJFFSgv2+xWtse31TWLim0blms9b7w6LPxfAls7es
                        UHgoEgET796EF9vqJUD7G2svuS4xG+GiuaYnqncSUF1XzUSiZTkulohHFc45DDhh
                        iMg5EftzgZUC+/zdT1IekkVrfoeUEffx1B3zd7Md0RN4wEKfIyqfBnFOpv8QgXKT
                        dwIDAQAB
                        -----END PUBLIC KEY-----</rsa_sandbox_key>
                    <rsa_production_key>-----BEGIN PUBLIC KEY-----
                        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsoSdnuP0/NptgD/cLM8D
                        lqqOOOldPYsFbHan9rgaFxmYDfAr5FDne1jMYxSLCRSjg5atU6306r3YwsNYdoGe
                        eunOWVtrkxHwz8s17XSMVZuAMGZKbs1f/HKN+Z8cZyZfsoyfRCqGX2Q6r51wpYTr
                        W82x9RvmiyFFdBjyB+jkONtgEiCImJuEgrg57bXcS2eN34CZdl1PZK4k7KvFa/Rt
                        nmz1l3hBC8U8HXbhLgWojNfs4PIRSHIkFHJChtoo6ZyPXMF3QECgXo7bcFI6DRH3
                        F3Giq0S2Ba/0S0rlO20ir46pom13hIeGf0/dQvycqRLE4eiGSmau9Ov9KI1pKGaS
                        iQIDAQAB
                        -----END PUBLIC KEY-----</rsa_production_key>
                </api_config>
            </upstream_pay>
        </payment>
    </default>
</config>
