<?xml version="1.0"?>
<!--
  UpStream Pay

  Copyright (c) 2023 UpStream Pay.
  This file is open source and available under the BSD 3 license.
  See the LICENSE file for more info.

  Author: Claranet France <info@fr.clara.net>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="UpStreamPay\Core\Api\SessionInterface" type="UpStreamPay\Core\Model\Session"/>
    <preference for="UpStreamPay\Core\Model\Session\Order\BuilderInterface"
                type="UpStreamPay\Core\Model\Session\Order\Builder\AccountBuilder"/>
    <preference for="UpStreamPay\Core\Model\Session\Order\AddressBuilderInterface"
                type="UpStreamPay\Core\Model\Session\Order\Builder\AddressBuilder"/>
    <preference for="UpStreamPay\Core\Api\Data\OrderPaymentInterface" type="UpStreamPay\Core\Model\OrderPayment"/>
    <preference for="UpStreamPay\Core\Api\Data\OrderPaymentSearchResultsInterface"
                type="UpStreamPay\Core\Model\OrderPaymentSearchResults"/>
    <preference for="UpStreamPay\Core\Api\OrderPaymentRepositoryInterface"
                type="UpStreamPay\Core\Model\OrderPaymentRepository"/>
    <preference for="UpStreamPay\Core\Api\Data\OrderTransactionsInterface"
                type="UpStreamPay\Core\Model\OrderTransactions"/>
    <preference for="UpStreamPay\Core\Api\Data\OrderTransactionsSearchResultsInterface"
                type="UpStreamPay\Core\Model\OrderTransactionsSearchResults"/>
    <preference for="UpStreamPay\Core\Api\OrderTransactionsRepositoryInterface"
                type="UpStreamPay\Core\Model\OrderTransactionsRepository"/>
    <preference for="UpStreamPay\Core\Api\PaymentMethodRepositoryInterface"
                type="UpStreamPay\Core\Model\PaymentMethodRepository"/>
    <preference for="UpStreamPay\Core\Api\Data\PaymentMethodSearchResultsInterface"
                type="UpStreamPay\Core\Model\PaymentMethodSearchResults"/>
    <preference for="UpStreamPay\Core\Api\Data\PaymentMethodInterface" type="UpStreamPay\Core\Model\PaymentMethod"/>
    <preference for="UpStreamPay\Core\Api\Data\SubscriptionInterface" type="UpStreamPay\Core\Model\Subscription"/>
    <preference for="UpStreamPay\Core\Api\SubscriptionRepositoryInterface" type="UpStreamPay\Core\Model\SubscriptionRepository"/>
    <preference for="UpStreamPay\Core\Api\Data\SubscriptionSearchResultsInterface" type="UpStreamPay\Core\Model\SubscriptionSearchResults"/>
    <preference for="UpStreamPay\Core\Api\Data\SubscriptionRetryInterface" type="UpStreamPay\Core\Model\SubscriptionRetry"/>
    <preference for="UpStreamPay\Core\Api\Data\SubscriptionRetrySearchResultsInterface" type="UpStreamPay\Core\Model\SubscriptionRetrySearchResults"/>
    <preference for="UpStreamPay\Core\Api\SubscriptionRetryRepositoryInterface" type="UpStreamPay\Core\Model\SubscriptionRetryRepository"/>

    <type name="UpStreamPay\Core\Model\Session\Order\OrderService">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="tax_lines" xsi:type="object">UpStreamPay\Core\Model\Session\Order\Builder\TaxBuilder</item>
                <item name="customer" xsi:type="object">
                    UpStreamPay\Core\Model\Session\Order\Builder\CustomerBuilder
                </item>
                <item name="shipments" xsi:type="object">
                    UpStreamPay\Core\Model\Session\Order\Builder\ShipmentBuilder
                </item>
            </argument>
        </arguments>
    </type>

    <type name="UpStreamPay\Core\Model\Session\Order\Builder\ShipmentBuilder">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="item_lines" xsi:type="object">
                    UpStreamPay\Core\Model\Session\Order\Builder\ItemBuilder
                </item>
                <item name="tax_lines" xsi:type="object">UpStreamPay\Core\Model\Session\Order\Builder\TaxBuilder</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="upstreampay_payments_grid_data_source" xsi:type="string">
                    UpStreamPay\Core\Model\ResourceModel\Payments\Grid\Collection
                </item>
                <item name="upstreampay_transactions_grid_data_source" xsi:type="string">
                    UpStreamPay\Core\Model\ResourceModel\Transactions\Grid\Collection
                </item>
                <item name="upstreampay_subscriptions_grid_data_source" xsi:type="string">
                    UpStreamPay\Core\Model\ResourceModel\Subscriptions\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="UpStreamPay\Core\Model\ResourceModel\Payments\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">upstream_pay_order_payment</argument>
            <argument name="resourceModel" xsi:type="string">
                UpStreamPay\Core\Model\ResourceModel\OrderPayment
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="UpStreamPay\Core\Model\ResourceModel\Transactions\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">upstream_pay_order_transactions</argument>
            <argument name="resourceModel" xsi:type="string">
                UpStreamPay\Core\Model\ResourceModel\OrderTransactions
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="UpStreamPay\Core\Model\ResourceModel\Subscriptions\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">upstream_pay_subscription</argument>
            <argument name="resourceModel" xsi:type="string">
                UpStreamPay\Core\Model\ResourceModel\Subscription
            </argument>
        </arguments>
    </virtualType>

    <!-- Core module logger config -->
    <virtualType name="UpStreamPay\Core\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/upstreampay_notify.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="UpStreamPay\Core\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">UpStreamPay\Core\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="UpStreamPay\Core\Model\NotificationService">
        <arguments>
            <argument name="logger" xsi:type="object">UpStreamPay\Core\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="UpStreamPay\Core\Model\Actions\VoidService">
        <arguments>
            <argument name="logger" xsi:type="object">UpStreamPay\Core\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="UpStreamPay\Core\Model\Synchronize\SynchronizeUpStreamPayPaymentData">
        <arguments>
            <argument name="logger" xsi:type="object">UpStreamPay\Core\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="paymentInformationPlugin" type="UpStreamPay\Core\Plugin\PaymentInformationPlugin" sortOrder="1"
                disabled="false" />
    </type>
</config>
