<?xml version="1.0"?>
<!--
  UpStream Pay

  Copyright (c) 2019-2023 UpStream Pay.
  This file is open source and available under the MIT license.
  See the LICENSE file for more info.

  Author: Claranet France <info@fr.clara.net>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="UpStreamPay\Core\Api\SessionInterface" type="UpStreamPay\Core\Model\Session"/>
    <preference for="UpStreamPay\Core\Model\Session\Order\BuilderInterface" type="UpStreamPay\Core\Model\Session\Order\Builder\AccountBuilder"/>
    <preference for="UpStreamPay\Core\Model\Session\Order\AddressBuilderInterface" type="UpStreamPay\Core\Model\Session\Order\Builder\AddressBuilder"/>

    <type name="UpStreamPay\Core\Model\Session\Order\OrderService">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="tax_lines" xsi:type="object">UpStreamPay\Core\Model\Session\Order\Builder\TaxBuilder</item>
                <item name="customer" xsi:type="object">UpStreamPay\Core\Model\Session\Order\Builder\CustomerBuilder</item>
                <item name="shipments" xsi:type="object">UpStreamPay\Core\Model\Session\Order\Builder\ShipmentBuilder</item>
            </argument>
        </arguments>
    </type>

    <type name="UpStreamPay\Core\Model\Session\Order\Builder\ShipmentBuilder">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="item_lines" xsi:type="object">UpStreamPay\Core\Model\Session\Order\Builder\ItemBuilder</item>
                <item name="tax_lines" xsi:type="object">UpStreamPay\Core\Model\Session\Order\Builder\TaxBuilder</item>
            </argument>
        </arguments>
    </type>
</config>
