<?xml version="1.0"?>
<!--
  UpStream Pay

  Copyright (c) 2023 UpStream Pay.
  This file is open source and available under the BSD 3 license.
  See the LICENSE file for more info.

  Author: Claranet France <info@fr.clara.net>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    Trigger the payment of an invoice after it has been saved.-->
    <event name="sales_order_invoice_save_after">
        <observer name="upstreampay_invoice_save_after" instance="UpStreamPay\Core\Observer\PayInvoiceObserver" />
    </event>
<!--    Cancel the transactions after a cancel order if Magento cannot cancel the transactions on its own.-->
    <event name="order_cancel_after">
        <observer name="upstreampay_cancel_order" instance="UpStreamPay\Core\Observer\CancelOrderObserver" />
    </event>
<!--    Cancel a payment subscription -->
    <event name="cancel_purse_subscription">
        <observer name="cancelPurseSubscription" instance="UpStreamPay\Core\Observer\CancelPurseSubscriptionObserver" />
    </event>
<!-- save a subscription -->
    <event name="sales_order_invoice_pay">
        <observer name="upstreampay_save_subscription" instance="UpStreamPay\Core\Observer\SaveSubscriptionObserver" />
    </event>
</config>
